.sec_of_login {
    /* background: #2D193A; */
    background: linear-gradient(23.01deg, #1c1935 46.4%, rgba(71, 25, 65, 0.95) 63.31%, #521944 70.88%);
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}

.total_sec_login {
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 25px 0 25px 0;
    border-radius  : 5px;
    
}

.sec{
    background: #fff;
    padding: 25px 80px 25px 35px;
    border-radius: 5px;
    margin-top: 100px;
}

.input_section Input{
    width: 130%;
    height: 35px;
    background: rgba(133, 132, 132, 0.3);
    border-radius: 5px;
    color: white;
    margin: 0;
    padding-left: 10px;
    border: none;
    outline: none;
}

.form_margin Button{
    border: none;
    width: 75%;
    padding: 5px 0;
    border-radius: 5px;
    color: #fff;
    background: #0DAAFE;
    cursor: pointer;
}